@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca:wght@700&family=Outfit:wght@400;700&display=swap');

/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */

:root {
    /* || PRIMARY COLORS */
    --card1-bg-color: rgb(227, 136, 38);
    --card2-bg-color: rgb(0, 105, 112);
    --card3-bg-color: rgb(0, 66, 65);

    /* || NEUTRAL COLORS */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --bg-color: hsl(0, 0%, 95%); /* background, headings, buttons */
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    font-family: "Lexend Deca";
    font-size: 0.9375rem;
    /* display: grid;
    place-content: center; */
}

main {
    max-width: 90%;
    margin: 5rem auto ;
}

article {
    padding: 3rem 3rem 5rem;
}

.card1 {
    background-color: var(--card1-bg-color);
    border-radius: 0.5rem 0.5rem 0 0;
}

.card2 {
    background-color: var(--card2-bg-color);
}

.card3 {
    background-color: var(--card3-bg-color);
    border-radius: 0 0 0.5rem 0.5rem;
}

img {
    padding-bottom: 1.5rem;
}

article h2 {
    text-transform: uppercase;
    font-family: "Big Shoulders Display";
    font-size: 2.75rem;
    letter-spacing: 0.1rem;
    color: hsl(0, 0%, 95%);
    padding-bottom: 1.5rem;
}

article p {    
    color: var(--transparent-white);
    line-height: 1.5rem;
    padding-bottom: 2.75rem;
}

/* LINK */

article a {
    background-color: white;
    text-decoration: none;
    padding: 1rem 2.2rem;
    border-radius: 1.5rem;
    text-align: center;
}

.card1 a {
    color: var(--card1-bg-color);
}

.card2 a {
    color: var(--card2-bg-color);
}

.card3 a {
    color: var(--card3-bg-color);
}

footer {
    /* position: absolute;
    bottom: 0; */
    /* width: 100%; */
    text-align: center;
    font-size: 1rem;
}
